
.form-body {
  background-image: url('/assets/images/cover3.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  opacity: 0.8;
}

h1{
    color:rgba(0, 0, 0, 0.893);
    transition-duration: 1s;
    transition-timing-function: ease-in-put;

}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 400px;
  text-align: center;
}
.form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

input {
  display: block;
  appearance: none;
  outline: 0;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.298);
  width: 250px;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  font-size: 18px;
  transition-duration: 0.25s;
  font-weight: 300;

  &:hover {
    background-color: rgba(255, 255, 255, 0.24);
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.24);
    width: 300px;

    color: #000;
  }
}

.button {
  appearance: none;
  outline: 0;
  background-color: rgba(255, 255, 255, 0.757);
  border: 0;
  padding: 10px 15px;
  color: #000;
  border-radius: 4px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
  font-weight: bold;

  &:hover {
    background-color: rgba(245, 247, 249, 0.867);
  }
}
 input.input-error,select.input-error{
   border-color: #ff6d6d;
 }
 .error{
   color: #fe4141;
   font-size: 14px;
   font-weight: bold;
 }
 .link-form{
   color: rgb(6, 64, 74);
   text-decoration: none;
   font-weight: bold;
 }