.bodyNotFound{
    user-select: none;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.712);
}
.firstSpn{
    font-size: 60px;
}
.secondSpn{
    font-size: 60px;
}
.thirdSpan{
    font-size: 70px;
}