@import "navbarStyle";
@import "loginStyle";
@import "slider";
@import "homePage";
@import "sidebarStyle";
@import "productsPage";
@import "detailCard";
@import "Form";
@import "dashboard";


@font-face {
  font-family: iranSans;
  src: url("/assets/fonts/iranSans/Sansa4fran3.eot") format("eot");
  src: url("/assets/fonts/iranSans/Sansa4fran3.woff") format("woff"),
  url("/assets/fonts/iranSans/Sansa4fran3.ttf") format("ttf"),

}

*{box-sizing: border-box; margin: 0; padding: 0;}

body {
  font-family:iranSans !important;
  direction: rtl;
  text-align: right;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.imgDashboard{
  width: 60px;
  height: 60px;
}
.visit{
  // background-color: rgb(62, 5, 5);
  color: rgb(147, 32, 12) !important;
  font-weight: bold !important;
  font-size: 18px !important;
  width:10px !important;
}
.linkDetail{
  text-decoration: none;
}

.imageAdmin{
  width: 50px !important;
  height: 50px !important;
}
